@use '../abstract/mixin' as mx;
@use '../abstract/variables' as var;
@use '../abstract/functions' as fct;
@use '../base/typography' as typo;
@use 'sass:map';

.game {
    &__board {
        width: 100%;
        flex-wrap: wrap;
        gap: fct.px-to-rem(24px);

        @include mx.flex-center(row, center, center);
    }
}

.card {
    height: fct.px-to-rem(120px);
    width: fct.px-to-rem(120px);
    aspect-ratio: 1 / 1;
    border: none;
    perspective: 1000px;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 300ms ease-in-out;
    }

    &__face {
        position: absolute;
        inset: 0;
        backface-visibility: hidden;

        &--back {
            transform: rotateY(180deg);
            @include mx.flex-center();
        }

        &--front {
            overflow: hidden;
            @include mx.flex-center();

            background-image: url('/src/assets/game-1/front.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 60px 48px;
        }
    }

    &.is-flipped &__inner {
        transform: rotateY(180deg);
    }
}