@font-face {
    font-family: 'RedRose';
    src: url('../../assets/fonts/RedRose-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RedRose';
    src: url('../../assets/fonts/RedRose-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RedRose';
    src: url('../../assets/fonts/RedRose-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RedRose';
    src: url('../../assets/fonts/RedRose-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'RedRose';
    src: url('../../assets/fonts/RedRose-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

$font-sizes: (
    sm: 14px,
    md: 16px,
    lg: 24px,
    xl: 32px,
);