@use '../abstract/functions' as fct;
@use '../abstract/mixin' as mx;
@use '../abstract/variables' as var;
@use '../base/typography' as typo;
@use '../themes/themes';
@use 'sass:map';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

.game {
    width: 100%;
    max-width: fct.px-to-rem(1217px);
    margin-inline: auto;
    margin-top: 10px;

    &__board {
        margin-top: fct.px-to-rem(41px);
        max-width: fct.px-to-rem(750px);
        justify-self: center;

    }

    &__board-wrapper {
        flex-wrap: wrap;

        @include mx.flex-center(row, center, center);
    }

    &__board-wrapper--16 {
        gap: fct.px-to-rem(52px);
    }

    &__board-wrapper--24 {
        gap: fct.px-to-rem(6px);
    }

    &__board-wrapper--36 {
        gap: fct.px-to-rem(6px);
    }
}

.modal {
    &--hidden {
        opacity: 0;
        position: absolute;
    }
}