@use '../abstract/functions' as fct;
@use '../abstract/mixin' as mx;
@use '../abstract/variables' as var;
@use '../base/typography' as typo;
@use '../themes/themes';
@use 'sass:map';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
}

.game {
    width: 100%;
    max-width: fct.px-to-rem(1217px);
    margin-inline: auto;
    margin-top: 10px;
    padding-inline: 32px;

    &__board {
        margin-top: fct.px-to-rem(41px);
        max-width: fct.px-to-rem(750px);
        justify-self: center;

    }

    &__board-wrapper {
        flex-wrap: wrap;

        @include mx.flex-center(row, center, center);
    }

    &__board-wrapper--16 {
        gap: fct.px-to-rem(52px);
    }

    &__board-wrapper--24 {
        gap: fct.px-to-rem(6px);
    }

    &__board-wrapper--36 {
        gap: fct.px-to-rem(6px);
    }
}

body.no-scroll {
    overflow: hidden;
}

.game-over,
.winner,
.modal {
    &--hidden {
        opacity: 0;
        position: absolute;
    }
}

.game-over{
        @include mx.flex-center(center, center);
}

.game-over,
.winner {

    position: fixed;
    inset: 0;
    z-index: 20;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.game-over--open,
.winner--open {
    opacity: 1;
    visibility: visible;
}

.is-inactive {
    opacity: 0.35;
    filter: grayscale(100%);
}