@use '../abstract/variables' as var;
@use 'sass:map';

.game--code {
    .header__bg {
        background-color: map.get(var.$code, header-background);
    }

    .card__front {
        background-color: map.get(var.$code, card-front);
    }
}

.game--code {
    .card__face--front {
        background: linear-gradient(180deg,
                map.get(var.$code, card-front) 0%,
                map.get(var.$code, card-back) 100%);
    }
}

.card__face--front::after {
    background-color: map.get(var.$code, font-light);
}