$sizes: (
    xs: 4px,
    sm: 8px,
    md: 16px,
    lg: 24px,
    xl: 32px,
    xxl: 48px,
);

$colors: (
    game-1-front: rgba(77, 213, 188, 1),
    game-1-back: rgba(232, 243, 240, 1),

    game-2-front: rgba(243, 131, 45, 1),
    game-2-back: rgba(244, 236, 228, 1),

    button-active: rgba(240, 234, 110, 1),
    button-inactive: rgba(219, 219, 214, 1),

    dark-primary: rgba(48, 49, 49, 1),

    player-one-color: rgba(164, 82, 18, 1),
    player-two-color: rgba(9, 127, 197, 1),

    font-color-w: rgba(255, 255, 255, 1),
);

$code: (
    page-background: rgba(48, 49, 49, 1),

    header-background: rgb(65, 86, 82),
    header-border: rgba(77, 213, 188, 1),

    player-one: rgba(43, 177, 255, 1),
    player-two: rgba(245, 142, 57, 1),

    card-front: rgba(77, 213, 188, 1),
    card-back: rgba(40, 111, 98, 1),

    overlay-button-primary: rgba(102, 207, 188, 1),
    overlay-button-secondary: rgba(134, 233, 214, 0.14),

    shadow: rgba(77, 213, 188, 0.5),

    font-light: rgba(255, 255, 255, 1),
    ext-btn: rgba(134, 233, 214, 0.14)
);

$food: (
    page-background: rgba(255, 255, 255, 1),

    header-background: rgba(240, 229, 217, 1),
    btn-background: rgba(255, 249, 242, 1),

    header-border: rgba(243, 131, 45, 1),

    card-front: rgba(243, 131, 45, 1),

    overlay-button-primary: rgba(255, 171, 62, 1),
    overlay-button-secondary: rgba(255, 249, 242, 1),
    overlay-button-border: rgba(243, 131, 45, 1),

    overlay-text-color: rgba(164, 82, 18, 1),

    font-light: rgba(255, 255, 255, 1),
);